extends layout

include mixins/_loginForm

block content
	section.login-page
		.container
			.login
				h2 Welcome Back
				h3 Sign in to continue
				+loginForm()
				p New User? 
					a(href="/register") Create an account.