extends layout

block content
	section.product.player-analysis
		.container
			.inner
				h2 Player Analysis
				p
					span * 
					| Available for Baseball, Basketball, and Football Athletes.
				p Player Analysis is a great marketing tool for coaches, trainers, agents, or anyone else that might work with an athlete. Player Analysis will provide statistical evidence as to how much an athlete improves while working within your system.
				img(src="images/player_analysis.jpg" alt="Player Analysis Example")
				p All we need from you is:
				ul
					li The athletes name.
					li The sport they play.
					li The dates that you worked with the athlete.
					li Analytics4Athletes will do the rest.
				p For more information please contact us at 
					a(href="mailto:analytics4athletes@gmail.com") analytics4athletes@gmail.com
					|.