extends layout

block content
	section.product.team-scouting-report
		.container
			.inner
				h2 Team Scouting Report
				p
					span * 
					| Available for High School, College, and Professional basketball teams.
				p Team Scouting Reports provide an in-depth statistical analysis for a team. These reports cover both offensive and defensive plays and strategies, success rates, and things that need improvement. The report goes into team statistics, but also rotational statistics (stats for the different lineups of 5 players on the court). The report also covers statistics for the team’s players who get significant playing time.
				p The Team Scouting Report is a great tool for coaches because it gives a detailed breakdown of what their team (or another team) does well and also areas of weakness.
				img(src="images/team_scouting_report.jpg" alt="Team Scouting Report Example")
				p All we need from you is:
				ul
					li The team you would like to be scouted.
					li Any specific information to include on the report.
				p For more information please contact us at 
					a(href="mailto:analytics4athletes@gmail.com") analytics4athletes@gmail.com
					|.