extends layout

include mixins/_scottieLindseyLink

block content
	section.user
		.container
			h3 Your Analytics:
			.products
				.user-products

					if user.id === '59bfdcb9e4968939bbf5e258'
						+scottieLindseyLink()
					else if user.id === '59fa1e128446ae49dfd23160'
						+scottieLindseyLink()
					else if user.id === '59fa8cfde3a4854c967fd3de'
						+scottieLindseyLink()
					else if user.id === '5a0a0fd7a68ae86235186787'
						+scottieLindseyLink()
					else
						p We will contact you at <span>#{user.email}</span> when your analytics are ready.
						