mixin productHeader
	.productHeader
		img(src="/images/scottie-lindsey/logo-northwestern.png" alt="Northwestern Wildcats Logo")
		.bio
			h3
				span Scottie 
				|Lindsey
			h4 Player Development Report over the 2016-17 Season