extends layout

block mainContent
	h3 Visual Breakdown of Contested Shots
	.stats
		table
			tbody
			tr
				td Contested 2's
				td 43/110
				td 39%
			tr
				td Contested 3's
				td 15/82
				td 18%
			tr
				td Contested FGA
				td 58/192
				td 30%
	img(src="/images/scottie-lindsey/visual-breakdown-contested.png" alt="Contested Shot Chart")
	.stats
		table
			tbody
				tr
					td Frequency of All FGA
					td 58%
				tr
					td Layups
					td 14/40
					td 35%
				tr
					td Floaters
					td 16/39
					td 41%
				tr
					td Jump Shots
					td 28/113
					td 25%
				tr
					td Off the Dribble &amp; Contested FGA
					td 45/126
					td 36%
				tr
					td No Dribble &amp; Contested FGA
					td 13/66
					td 20%
	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/QfnVMGUShPo?rel=0" frameborder="0" allowfullscreen)
	h3 Visual Breakdown of Non-Contested Shots
	.stats
		table
			tbody
				tr
					td Non-Contested 2's
					td 33/49
					td 67%
				tr
					td Non-Contested 3's
					td 41/92
					td 45%
				tr
					td Non-Contested FGA
					td 58/192
					td 30%
	img(src="/images/scottie-lindsey/visual-breakdown-non-contested.png" alt="Non-Contested Shot Chart")
	.stats
		table
			tbody
				tr
					td Frequency of All FGA
					td 42%
				tr
					td Layups
					td 20/22
					td 91%
				tr
					td Floaters
					td 5/10
					td 50%
				tr
					td Jump Shots
					td 49/109
					td 45%
				tr
					td Off the Dribble &amp; Non-Contested FGA
					td 35/60
					td 58%
				tr
					td No Dribble &amp; Non-Contested FGA
					td 39/81
					td 48%