extends layout

block mainContent
	h3 Visual Breakdown of Off Ball Screens Driving Left
	.stats
		table
			tbody
				tr
					td Off Ball Screens Cutting Left
					td 10/28
					td 36%
				tr
					td Frequency of all Off Ball Screen FG's
					td 65%
	img(src="/images/scottie-lindsey/visual-breakdown-off-ball-screens-left.png" alt="Off Ball Screens Driving Left Shot Chart")
	.stats
		table
			tbody
				tr
					td Layups
					td 0/2
					td 0%
				tr
					td Floaters
					td 2/4
					td 50%
				tr
					td Jump Shots
					td 8/22
					td 36%
				tr
					td Contested FGA
					td 1/11
					td 9%
				tr
					td Non-contested FGA
					td 3/5
					td 60%
	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/xFOa_UqLs9U?rel=0" frameborder="0" allowfullscreen)
	h3 Visual Breakdown of Off Ball Screens Driving Right
	.stats
		table
			tbody
				tr
					td Off Ball Screens Cutting Right
					td 5/15
					td 33%
				tr
					td Frequency of all Off Ball Screen FG's
					td 35%
	img(src="/images/scottie-lindsey/visual-breakdown-off-ball-screens-right.png" alt="Off Ball Screens Driving Right Shot Chart")
	.stats
		table
			tbody
				tr
					td Layups
					td 0/0
					td 0%
				tr
					td Floaters
					td 2/4
					td 50%
				tr
					td Jump Shots
					td 3/11
					td 27%
				tr
					td Contested FGA
					td 3/10
					td 30%
				tr
					td Non-contested FGA
					td 2/5
					td 40%