extends layout

block mainContent
	h3 Visual Breakdown of Assisted Shots
	.stats
		.inner
			table
				tbody
					tr
						td Assisted 2's
						td 35/58
						td 60%
					tr
						td Assisted 3's
						td 51/156
						td 33%
					tr
						td Assisted FGA
						td 86/214
						td 40%

	img(src="/images/scottie-lindsey/visual-breakdown-assisted.png" alt="Assisted Shot Chart")
	.stats
		.inner

			table
				tbody
					tr
						td Frequency of All FGA
						td 64%
					tr
						td Layups
						td 19/28
						td 68%
					tr
						td Floaters
						td 8/13
						td 62%
					tr
						td Jump Shots
						td 59/173
						td 34%
					tr
						td Contested &amp; Assisted FGA
						td 30/102
						td 29%
					tr
						td Non-contested &amp; Assisted FGA
						td 56/112
						td 50% 

	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/riVx4WcpJwk?rel=0" frameborder="0" allowfullscreen)

	h3 Visual Breakdown of Non-Assisted Shots
	.stats
		.inner
			
			table
				tbody
					tr
						td Non-Assisted 2's
						td 41/101
						td 41%
					tr
						td Non-Assisted 3's
						td 5/18
						td 28%
					tr
						td Non-Assisted FGA
						td 46/119
						td 39%







	img(src="/images/scottie-lindsey/visual-breakdown-non-assisted.png" alt="Non-Assisted Shot Chart")
	.stats
		.inner
			table
				tbody
					tr
						td Frequency of All FGA
						td 36%
					tr
						td Layups
						td 15/34
						td 44%
					tr
						td Floaters
						td 13/36
						td 36%
					tr
						td Jump Shots
						td 18/49
						td 37%
					tr
						td Contested &amp; Non-Assisted FGA
						td 23/72
						td 32%
					tr
						td Non-contested &amp; Non-Assisted FGA
						td 18/27
						td 67%
