extends layout

block mainContent
	h3 Visual Breakdown of Pick &amp; Roll Driving Left
	.stats
		table
			tbody
				tr
					td Pick &amp; Roll FGA Driving Left
					td 19/37
					td 51%
				tr
					td Frequency of All Pick &amp; Roll FGA
					td 65%
	img(src="/images/scottie-lindsey/visual-breakdown-pick-and-roll-left.png" alt="Pick and Roll Driving Left Shot Chart")
	.stats
		table
			tbody
				tr
					td Layups
					td 2/3
					td 66%
				tr
					td Floaters
					td 3/6
					td 50%
				tr
					td Jump Shots
					td 14/28
					td 50%
				tr
					td Contested FGA
					td 12/25
					td 48%
				tr
					td Non-contested FGA
					td 7/12
					td 58%
	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/mHzKDb3kcGs?rel=0" frameborder="0" allowfullscreen)
	h3 Visual Breakdown of Pick &amp; Roll Driving Right
	.stats
		table
			tbody
				tr
					td Pick &amp; Roll Driving Right
					td 7/20
					td 37%
				tr
					td Frequency of all Pick &amp; Roll FGA
					td 35%
	img(src="/images/scottie-lindsey/visual-breakdown-pick-and-roll-right.png" alt="Pick and Roll Driving Right Shot Chart")
	.stats
		table
			tbody
				tr
					td Layups
					td 1/1
					td 100%
				tr
					td Floaters
					td 1/7
					td 27%
				tr
					td Jump Shots
					td 5/12
					td 42%
				tr
					td Contested FGA
					td 7/19
					td 37%
				tr
					td Non-contested FGA
					td 7/19
					td 37%