extends layout

block mainContent
	h3 Visual Breakdown Spot Up Jump Shots
	.stats
		ul
			li Spot Up Jump Shots
			li 44/136
			li 32%
		ul
			li Frequency of All FGA
			li 41%
	img(src="/images/scottie-lindsey/visual-breakdown-spot-up-jump-shots.png" alt="Spot Up Jump Shots Shot Chart")
	.stats
		ul
			li LC3
			li 3/6
			li 50%
		ul
			li LW3
			li 10/50
			li 50%
		ul
			li Top Key
			li 6/15
			li 40%
		ul
			li RW3
			li 23/49
			li 47%
		ul
			li RC3
			li 2/14
			li 14%
		ul
			li Contested Jump Shots
			li 11/62
			li 18%
		ul
			li Non-contested Jump Shots
			li 33/74
			li 45%