extends layout

block mainContent
	h3 Visual Breakdown of Contested Shots
	.stats
		ul
			li Contested 2's
			li 43/110
			li 39%
		ul
			li Contested 3's
			li 15/82
			li 18%
		ul
			li Contested FGA
			li 58/192
			li 30%
	img(src="/images/scottie-lindsey/visual-breakdown-contested.png" alt="Contested Shot Chart")
	.stats
		ul
			li Frequency of All FGA
			li 58%
		ul
			li Layups
			li 14/40
			li 35%
		ul
			li Floaters
			li 16/39
			li 41%
		ul
			li Jump Shots
			li 28/113
			li 25%
		ul
			li Off the Dribble &amp; Contested FGA
			li 45/126
			li 36%
		ul
			li No Dribble &amp; Contested FGA
			li 13/66
			li 20%
	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/QfnVMGUShPo?rel=0" frameborder="0" allowfullscreen)
	h3 Visual Breakdown of Non-Contested Shots
	.stats
		ul
			li Non-Contested 2's
			li 33/49
			li 67%
		ul
			li Non-Contested 3's
			li 41/92
			li 45%
		ul
			li Non-Contested FGA
			li 58/192
			li 30%
	img(src="/images/scottie-lindsey/visual-breakdown-non-contested.png" alt="Non-Contested Shot Chart")
	.stats
		ul
			li Frequency of All FGA
			li 42%
		ul
			li Layups
			li 20/22
			li 91%
		ul
			li Floaters
			li 5/10
			li 50%
		ul
			li Jump Shots
			li 49/109
			li 45%
		ul
			li Off the Dribble &amp; Non-Contested FGA
			li 35/60
			li 58%
		ul
			li No Dribble &amp; Non-Contested FGA
			li 39/81
			li 48%