extends layout

block mainContent
	h3 Visual Breakdown of Spot Up Jump Shots
	.stats
		table
			tbody
				tr
					td Spot Up Jump Shots
					td 44/136
					td 32%
				tr
					td Frequency of All FGA
					td 41%
	img(src="/images/scottie-lindsey/visual-breakdown-spot-up-jump-shots.png" alt="Spot Up Jump Shots Shot Chart")
	.stats
		table
			tbody
				tr
					td LC3
					td 3/6
					td 50%
				tr
					td LW3
					td 10/50
					td 50%
				tr
					td Top Key
					td 6/15
					td 40%
				tr
					td RW3
					td 23/49
					td 47%
				tr
					td RC3
					td 2/14
					td 14%
				tr
					td Contested Jump Shots
					td 11/62
					td 18%
				tr
					td Non-contested Jump Shots
					td 33/74
					td 45%
	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/BiswCAWM--A?rel=0" frameborder="0" allowfullscreen)