extends layout

block mainContent
	h3 Visual Breakdown - Off Ball Screens Going Left
	.stats
		ul
			li Off Ball Screens Cutting Left
			li 10/28
			li 36%
		ul
			li Frequency of all Off Ball Screen FG's
			li 65%
	img(src="/images/scottie-lindsey/visual-breakdown-off-ball-screens-left.png" alt="Off Ball Screens Going Left Shot Chart")
	.stats
		ul
			li Layups
			li 0/2
			li 0%
		ul
			li Floaters
			li 2/4
			li 50%
		ul
			li Jump Shots
			li 8/22
			li 36%
		ul
			li Contested FGA
			li 1/11
			li 9%
		ul
			li Non-contested FGA
			li 3/5
			li 60%

	h3 Visual Breakdown - Off Ball Screens Going Right
	.stats
		ul
			li Off Ball Screens Cutting Right
			li 5/15
			li 33%
		ul
			li Frequency of all Off Ball Screen FG's
			li 35%
	img(src="/images/scottie-lindsey/visual-breakdown-off-ball-screens-right.png" alt="Off Ball Screens Going Right Shot Chart")
	.stats
		ul
			li Layups
			li 0/0
			li 0%
		ul
			li Floaters
			li 2/4
			li 50%
		ul
			li Jump Shots
			li 3/11
			li 27%
		ul
			li Contested FGA
			li 3/10
			li 30%
		ul
			li Non-contested FGA
			li 2/5
			li 40%