extends layout

block mainContent
	h3 Visual Breakdown of Transition
	.stats
		table
			tbody
				tr
					td Transition FGA
					td 36/72
					td 50%
				tr
					td Frequency of All FGA
					td 19%
	img(src="/images/scottie-lindsey/visual-breakdown-transition.png" alt="Transition Shot Chart")
	.stats
		table
			tbody
				tr
					td Layups
					td 26/42
					td 50%
				tr
					td Floaters
					td 3/3
					td 100%
				tr
					td Jump Shots
					td 7/27
					td 26%
				tr
					td Contested FGA
					td 14/42
					td 33%
				tr
					td Non-contested FGA
					td 22/30
					td 73%