extends layout

block mainContent
	h3 Visual Breakdown of FGA by Area
	.stats
		table
			tbody
				tr
					td Left Corner 3
					td 3/6
					td 50%
				tr
					td Left Wing 3
					td 16/67
					td 24%
				tr
					td Top of Key
					td 10/27
					td 37%
				tr
					td Right Wing 3
					td 25/60
					td 42%
				tr
					td Right Corner 3
					td 2/14
					td 14%
		
	img(src="/images/scottie-lindsey/visual-breakdown-fga-by-area.png" alt="FGA by Area Chart")
	.stats
		table
			tbody
				tr
					td Paint
					td 30/66
					td 45%
				tr
					td Restricted Area
					td 26/37
					td 70%
				tr
					td Left Wing 2
					td 14/37
					td 38%
				tr
					td Middle 2
					td 4/10
					td 40%
				tr
					td Right Wing 2
					td 2/9
					td 22%
		
	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/WLys1IM0X0g?rel=0" frameborder="0" allowfullscreen)

	.stats
		table
			tbody
				tr
					td Frequency of FGA from the Left &amp; Right Wing 3
					td 38%
					td 41/127 - 32%
	
	.stats
		h4 FGA from the Paint &amp; Restricted Area
		table
			tbody
				tr
					td Layups
					td 33/58
					td 57%
				tr
					td Floaters
					td 16/34
					td 47%
				tr
					td Jump Shots
					td 7/11
					td 64%
	.stats
		h4 FGA from the 2 Outside the Paint
		table
			tbody
				tr
					td Floaters
					td 6/19
					td 32%
				tr
					td Jump Shots
					td 14/37
					td 38%