extends layout

block mainContent
	h3 Visual Breakdown of Shots Off the Dribble
	.stats
		table
			tbody
				tr
					td FGA Off the Dribble
					td 80/186
					td 43%
				tr
					td Frequency of All FGA
					td 56%
	img(src="/images/scottie-lindsey/visual-breakdown-shots-off-dribble.png" alt="Shots Off of the Dribble Shot Chart")
	.stats
		table
			tbody
				tr
					td Layups
					td 26/51
					td 51%
				tr
					td Floaters
					td 21/49
					td 43%
				tr
					td Jump Shots
					td 33/86
					td 38%
				tr
					td Contested FGA
					td 45/126
					td 36%
				tr
					td Non-contested FGA
					td 35/60
					td 58% 

	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/O23s6uBcRO8?rel=0" frameborder="0" allowfullscreen)

	.stats
		h4 Driving Left:
		table
			tbody
				tr
					td FGA Driving Left
					td 48/117
					td 41%
				tr
					td Frequency of All FGA Off the Dribble
					td 63%
				tr
					td Layups
					td 10/24
					td 42%
				tr
					td Floaters
					td 14/29
					td 48%
				tr
					td Jump Shots
					td 25/66
					td 38%
				tr
					td Contested FGA
					td 29/82
					td 35%
				tr
					td Non-Contested FGA
					td 19/35
					td 54%
	.stats
		h4 Driving Right:
		table
			tbody
				tr
					td FGA Driving Right
					td 32/69
					td 46%
				tr
					td Frequency of All FGA Off the Dribble
					td 37%
				tr
					td Layups
					td 16/27
					td 59%
				tr
					td Floaters
					td 7/20
					td 35%
				tr
					td Jump Shots
					td 9/22
					td 41%
				tr
					td Contested FGA
					td 16/44
					td 37%
				tr
					td Non-Contested FGA
					td 16/25
					td 64%