extends layout

block mainContent
	h3 Visual Breakdown of Isolation
	.stats
		table
			tbody
				tr
					td Isolation FGA
					td 5/20
					td 25%
				tr
					td Frequency of all pick and roll FGA
					td 5%

	img(src="/images/scottie-lindsey/visual-breakdown-isolation.png" alt="Isolation Shot Chart")
	.stats
		table
			tbody
				tr
					td Layups
					td 19/28
					td 68%
				tr
					td Floaters
					td 8/13
					td 62%
				tr
					td Jump Shots
					td 59/173
					td 34%
				tr
					td Inside Paint
					td 5/9
					td 56%
				tr
					td Outside Paint
					td 0/11
					td 0%
				tr
					td Contested FGA
					td 30/102
					td 29%
				tr
					td Non-contested FGA
					td 56/112
					td 50% 

	.stats
		table
			tbody
				tr 
					td % of Isolation FGA Driving Left
					td 70%
				tr
					td % of Isolation FGA Driving Right
					td 30%
				tr
					td Isolation FGA Drivint Left
					td 2/14
					td 14%
				tr
					td Isolation FGA Driving Right
					td 3/6
					td 50%
				tr
					td Layups
					td 1/2
					td 50%
				tr
					td Floaters
					td 1/3
					td 33%
				tr
					td Jump Shots
					td 0/9
					td 0%
				tr
					td Layups
					td 1/3
					td 33%
				tr
					td Floaters
					td 1/1
					td 100%
				tr
					td Jump Shots
					td 1/2
					td 50%
				tr
					td Shot Clock Time Left 0-10
					td 2/11
					td 18%
				tr
					td Shot Clock Time Left 11-20
					td 3/9
					td 33%