extends layout

block mainContent
	h3 Off Ball Screen Workouts
	.workout
		h4 Workout #1 - Off Ball Screens Curl for 2
		img(src="/images/scottie-lindsey/workout-off-ball-screens-curl-for-2-chart.png" alt="Off Ball Screens Curl for 2 Chart")
		img(src="/images/scottie-lindsey/workout-off-ball-screens-curl-for-2-drill.png" alt="Off Ball Screens Curl for 2 Drill")
		ul.explanation
			li 2 Defenders - 86% of Lindsey's total off ball screen FGA inside of the 3 point line were contested.
			li Defender 1 - guard to defend Lindsey tightly to force curl cut and contest jumli shots off of the curl cut.
			li Defender 2 - Big man to defend Lindsey on off ball screen, curl cut floaters, and layups.
			li Off ball screen floaters/layups contested by big man - 4/10 (40%).
		.stats
			table
				tbody
					tr
						td Paint
						td 2/7
						td 29%
	.workout
		h4 Workout #2 - Run Off Ball Screens for 3
		img(src="/images/scottie-lindsey/workout-off-ball-screens-run-chart.png" alt="Off Ball Screen 3 Chart")
		img(src="/images/scottie-lindsey/workout-off-ball-screens-run-drill.png" alt="Off Ball Screen for 3 Drill")
		ul.explanation
			li Off ball screens for 3 - 67% of Lindsey's total off ball screen FGA were 3FG's
			li Defender 1 - Run over the screen to contest Lindsey's off ball screen 3FG's.
			li Off ball screen 3FGA - 11/29 (38%).
			li Contested off ball screen 3FGA - 4/15 (27%).
			li Non-contested off ball screen 3FGA - 7/14 (50%).
		.stats
			table
				tbody
					tr
						td LW3 3FGA
						td 2/12
						td 17%
					tr
						td Percent of 3FGA from LW3 &amp; RW3
						td 86%
					tr
						td RW3 3FGA
						td 8/13
						td 62%
	.workout
		h4 Workout #3 - Off Ball Screens - Flair Cut
		img(src="/images/scottie-lindsey/workout-off-ball-screens-flair-cut-chart.png" alt="Off Ball Screens - Flair Cut Chart")
		img(src="/images/scottie-lindsey/workout-off-ball-screens-flair-cut-drill.png" alt="Off Ball Screens - Flair Cut Drill")
		ul.explanation
			li 2 Defenders – 21% of Lindsey’s Total Off Ball Screen FG’s were taken off of Flair Cuts.
			li Defender 1 – Guard to defend to go over the screen and defend Lindsey on Flair Cut jumli shots.
			li Defender 2 – Big man to defend Lindsey on Flair Cut drives.
			li Off Ball Screen Floaters – 4/8 (50%).
		.stats
			table
				tbody
					tr
						td Percent of FGA that are Jump Shots
						td 78%
					tr
						td 3FGA
						td 3/6
						td 50%