extends layout

block mainContent
	h3 Pick &amp; Roll Workouts
	.workout
		h4 Workout #1 - Pick &amp; Roll FGA Driving Left - Read the D
		img(src="/images/scottie-lindsey/workout-pick-and-roll-read-the-d-left-chart.png" alt="Pick &amp; Roll Driving Left Chart")
		img(src="/images/scottie-lindsey/workout-pick-and-roll-read-the-d-left-drill.png" alt="Pick &amp; Roll Driving Left Drill")
		ul.explanation
			li 2 Defenders – 53% of Lindsey’s Total Pick &amp; Roll Jump Shots Attempted were Contested
			li Defender 1 – Big man to switch and defend Lindsey on Pick &amp; Roll FGA.
			li Pick &amp; Roll FGA Driving Left when a switch occurs – 7/16 – 44%
			li On switches 75% of FGA are jump shots – 5/12 – 42%
			li Defender 2 – Guard to defend Lindsey on Pick &amp; Roll Layups/Floaters
			li Pick &amp; Roll FGA Driving Left when defended by a guard – 12/21 – 57%
			li Pick &amp; Roll Jump Shots Driving Left when defended by a guard – 9/16 – 56%
		.stats
			ul
				li Percent of FGA that are Jump Shots
				li 76%
			ul
				li Paint
				li 5/8
				li 63%
			ul
				li Mid-Range
				li 10/17
				li 59%
			ul
				li 3FGA
				li 4/12
				li 33%
			ul
				li Contested FGA
				li 12/25
				li 48%
	.workout
		h4 Workout #2 - Pick &amp; Roll FGA Driving Right - Read the D
		img(src="/images/scottie-lindsey/workout-pick-and-roll-read-the-d-right-chart.png" alt="Pick &amp; Roll Driving Right Chart")
		img(src="/images/scottie-lindsey/workout-pick-and-roll-read-the-d-right-drill.png" alt="Pick &amp; Roll Driving Right Drill")
		ul.explanation
			li 2 Defenders – 53% of Lindsey’s Total Pick &amp; Roll Jump Shots Attempted were Contested
			li Defender 1 – Big man to switch and defend Lindsey on Pick &amp; Roll FGA.
			li Pick &amp; Roll FGA Driving Right when a switch occurs – 2/8 – 25%
			li On switches 88% of FGA are jump shots – 2/7 – 29%
			li Defender 2 – Guard to defend Lindsey on Pick &amp; Roll Layups/Floaters
			li Pick &amp; Roll FGA Driving Right when defended by a guard – 5/12 – 42%
			li Pick &amp; Roll Jump Shots Driving Right when defended by a guard – 3/5 – 60%
			li Pick &amp; Roll Layups/Floaters Driving Right when defended by a guard – 2/7 – 29%
		.stats
			ul
				li Percent of FGA that are Jump Shots
				li 60%
			ul
				li Paint
				li 2/7
				li 29%
			ul
				li Mid-Range
				li 1/3
				li 33%
			ul
				li 3FGA
				li 4/10
				li 40%
			ul
				li Contested FGA
				li 3/11
				li 27%
	.workout
		h4 Workout #3 - Pick &amp; Roll FGA Driving Right - Defender Over or Under
		img(src="/images/scottie-lindsey/workout-pick-and-roll-fga-driving-right-chart.png" alt="Pick &amp; Roll FGA Driving Right Chart")
		img(src="/images/scottie-lindsey/workout-pick-and-roll-fga-driving-right-drill.png" alt="Pick &amp; Roll FGA Driving Right Drill")
		ul.explanation
			li 2 Defenders – 42% of Lindsey’s Total Pick &amp; Roll FGA were taken during defensive switch situations
			li Defender 1 – Guard to defend to go over the screen and defend Lindsey on Pick &amp; Roll FGA. Pick &amp; Roll FGA when the defend goes over the screen – 13/24 – 54%. Going over the screen 75% of FGA are jump shots – 10/18 – 56%
			li Defender 1 – Guard to defend to go under the screen and defend Lindsey on Pick &amp; Roll FGA. Pick &amp; Roll FGA when the defend goes over the screen – 6/10 – 60%. Going under the screen 60% of FGA are jump shots – 3/6 – 50%
			li Defender 2 – Big man to defend Lindsey on Pick &amp; Roll situations where defense switches. When big man guards Lindsey after ball screen – 9/24 – 38%
		.stats
			ul
				li Percent of FGA that are Jump Shots
				li 70%
			ul
				li Paint
				li 7/15
				li 47%
			ul
				li Mid-Range
				li 11/20
				li 55%
			ul
				li 3FGA
				li 8/22
				li 36%
			ul
				li Contested FGA
				li 15/36
				li 42%