extends layout

block mainContent
	h3 Spot Up Jump Shot Workouts
	.workout
		h4 Workout #1 - Spot Up 3's from LW3
		img(src="/images/scottie-lindsey/workout-spot-up-3-lw3-chart.png" alt="Spot Up 3 from LW3 Chart")
		img(src="/images/scottie-lindsey/workout-spot-up-3-lw3-drill.png" alt="Spot Up 3 from LW3 Drill")
		ul.explanation
			li 1 Defender – 37% of Lindsey’s Total Spot Up 3FGA were attempted from the Left Wing. 
			li Defender 1 – Guard to contest Lindsey on 3FGA from the Left Wing
			li LW3 3FGA – 10/50 – 20%
			li 50% of Lindsey’s LW3 FGA were contested – Contested LW3 3FGA – 3/25 – 12% 
			li 50% of Lindsey’s LW3 FGA were non-contested – Non-Contested LW3 3FGA – 7/25 – 28%

		.stats
			table
				tbody
					tr
						td Shot Clock Time Left 0-10
						td 0/12
						td 0%
					tr
						td Shot Clock Time Left 11-20
						td 5/29
						td 17%
					tr
						td Shot Clock Time Left 21-30
						td 5/9
						td 56%
	.workout
		h4 Workout #2 - 3FGA from the Corners
		img(src="/images/scottie-lindsey/workout-3fga-from-corners-chart.png" alt="3FGA from the Corners Chart")
		img(src="/images/scottie-lindsey/workout-3fga-from-the-corners-drill.png" alt="3FGA from the Corners Drill")
		ul.explanation
			li 1 Defender – 15% of Lindsey’s Total Spot Up 3FGA were attempted from the left &amp; right corner
			li Defender 1 – Guard to contest Lindsey on Corner 3FG’s
			li 70% of Lindsey’s Corner 3FGA were attempted from the RC3 – 2/14 – 14%
			li Left Corner 3FGA – 3/6 – 50%
			li Contested Corner 3FGA – 2/12 – 17%
			li Non-Contested Corner 3FGA – 3/8 – 38%
	.workout
		h4 Workout #3 - Consistency from 3
		img(src="/images/scottie-lindsey/workout-consistency-from-3-chart.png" alt="Consistency from 3 Chart")
		img(src="/images/scottie-lindsey/workout-consistency-from-3-drill.png" alt="Consistency from 3 Drill")
		ul.explanation
			li 1 Defender – 45% of Lindsey’s 3FGA were Contested 3FGA – 11/62 – 18%
			li Defender 1 – Guard to slightly contested Lindsey’s 3FGA
			li 5 Spots - Lindsey must make 3 3FGA in a row to move on to the next spot
			li If Lindsey misses after making one 3FGA the drill starts over from the beginning
			li Lindsey has 5 tries to make 15 3FG’s in a row
		.stats
			table
				tbody
					tr
						td Most Made Spot Up 3FG's in a row
						td 3
					tr
						td Most Missed Spot Up 3FG's in a row
						td 10