mixin scottieLindseyLink()
	a.product(href="/scottie-lindsey/analytical-report")
		img(src="/images/scottie-lindsey/logo-northwestern.png" alt="Northwestern Wildcats Logo")
		h3
			|Scottie
			span Lindsey
		h4 2016-17 Player Development Report
		p.button 
			span View Analytics
			!= h.icon('angle-right')