extends layout

block mainContent
	h3 Analytical Report
	p This report analyzes Scottie Lindsey’s field goals attempted by the play types pick and roll, transition, spot up shots, shots taken off screens, and hand offs, and finally isolation situations which made up 83% of Lindsey’s total offense in the 2016-17 season. 60% of his FGA off the dribble occurred when he drove left. Scottie shot 23/60 – 38% off jump shots going left compared to 7/17 – 41% off jump shots going right. 44% of his FGA were spot up shots where he shot 35%, of his total spot up shots, 91% of them were 3FG’s, where he shot 44/134 – 33% off catch and shoot 3’s.

	.stats
		ul
			li FG's Off the Dribble &amp; Non-Contested
			li 35/60
			li 58%

		ul
			li FG's Off the Dribble &amp; Contested
			li 45/126
			li 35%

		ul
			li Total Non-Contested 3's
			li 41/92
			li 45%

		ul
			li Total Contested 3's
			li 15/82
			li 18%

		ul
			li All FG's Going Left
			li 46/112
			li 41%

		ul
			li Layups/Dunks Going Left
			li 9/23
			li 39%

		ul
			li All FG's Going Right
			li 24/56
			li 43%

		ul
			li Layups/Dunks Going Right
			li 10/19
			li 53%

		ul
			li Restricted Area
			li 23/26
			li 70%

		ul
			li Paint
			li 30/66
			li 45%

		ul
			li Mid-Range
			li 21/56
			li 37%

		ul
			li 3FGA
			li 56/174
			li 32%
	.suggestions
		p The biggest improvements Scottie needs to make:
		ul
			li Finishing layups/dunks going left (9/23 - 39%)
			li More consistency off spot up FG's from 3 (44/134 - 33%)
			li Finish contested field goals better (58/192 - 30%)
			li Shoot better in late shot clock situations (23/71 - 32%)

	.stats
		ul
			li Total FGA
			li 132/333
			li 40%

		ul
			li Assisted &amp; Non-Contested FGA
			li 56/112
			li 50%

		ul
			li Assisted &amp; Contested FGA
			li 30/102
			li 29%

		ul
			li Non-Assisted &amp; Contested FGA
			li 23/72
			li 32%

		ul
			li Non-Assisted &amp; Non-Contested FGA
			li 18/27
			li 67%

		ul
			li Total 3FGA
			li 56/174
			li 32%

		ul
			li Assisted &amp; Non-Contested 3FGA
			li 37/85
			li 44%
			
		ul
			li Assisted &amp; Contested 3FGA
			li 14/71
			li 20%

		ul
			li Non-Assisted &amp; Contested 3FGA
			li 1/11
			li 9%

		ul
			li Non-Assisted &amp; Non-Contested 3FGA
			li 4/7
			li 57%

	p 52% of Scottie's FGA were 3FGA, and he shot 32% from 3. To better analyze the quality of his 3FGA's you want to analyze the quality of shots off the dribble, assisted, and contested. 64% of his shots were assisted on, and 89% of his 3FGA were assisted on. Overall, he shot 5% from 3 on assisted 3FG's compared to non-assisted 3FG's. He also shot 27% better on 3FGA not contested on compared to contested 3FGA.
