extends layout

block mainContent
	h3 Visual Breakdown - Pick &amp; Roll Going Left
	.stats
		ul
			li Pick &amp; Roll FGA Driving Left
			li 19/37
			li 51%
		ul
			li Frequency of All Pick &amp; Roll FGA
			li 65%
	img(src="/images/scottie-lindsey/visual-breakdown-pick-and-roll-left.png" alt="Pick and Roll Going Left Shot Chart")
	.stats
		ul
			li Layups
			li 2/3
			li 66%
		ul
			li Floaters
			li 3/6
			li 50%
		ul
			li Jump Shots
			li 14/28
			li 50%
		ul
			li Contested FGA
			li 12/25
			li 48%
		ul
			li Non-contested FGA
			li 7/12
			li 58% 

	h3 Visual Breakdown - Pick &amp; Roll Going Right
	.stats
		ul
			li Pick &amp; Roll Driving Right
			li 7/20
			li 37%
		ul
			li Frequency of all Pick &amp; Roll FGA
			li 35%
	img(src="/images/scottie-lindsey/visual-breakdown-off-ball-screens-right.png" alt="Pick and Roll Going Right Shot Chart")
	.stats
		ul
			li Layups
			li 1/1
			li 100%
		ul
			li Floaters
			li 1/7
			li 27%
		ul
			li Jump Shots
			li 5/12
			li 42%
		ul
			li Contested FGA
			li 7/19
			li 37%
		ul
			li Non-contested FGA
			li 7/19
			li 37%