extends layout

block mainContent
	h3 Visual Breakdown of Shot Clock Time
	.stats
		ul
			li 0-10 2's
			li 16/36
			li 44%
		ul
			li 0-10 3's
			li 7/35
			li 20%
		ul
			li FGA with 0-10 on Shot Clock
			li 23/71
			li 32%
	img(src="/images/scottie-lindsey/visual-breakdown-shot-clock-0-10.png" alt="Shot Clock 0-10 Shot Chart")
	.stats
		ul
			li Frequency of All FGA
			li 21%
		ul
			li Layups
			li 2/7
			li 28%
		ul
			li Floaters
			li 6/11
			li 55%
		ul
			li Jump Shots
			li 15/53
			li 28%
		ul
			li Contested &amp; 0-10 FGA
			li 13/51
			li 25%
		ul
			li Non-contested &amp; 0-10 FGA
			li 10/20
			li 50% 

	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/xSYTi6o9_58?rel=0" frameborder="0" allowfullscreen)

	h3 Visual Breakdown of 11-20 Left
	.stats
		ul
			li 11-20 2's
			li 25/63
			li 40%
		ul
			li 11-20 3's
			li 31/91
			li 34%
		ul
			li FGA with 11-20 on Shot Clock
			li 56/154
			li 36%
	img(src="/images/scottie-lindsey/visual-breakdown-shot-clock-11-20.png" alt="Shot Clock 11-20 Shot Chart")
	.stats
		ul
			li Frequency of All FGA
			li 46%
		ul
			li Layups
			li 6/12
			li 50%
		ul
			li Floaters
			li 7/28
			li 25%
		ul
			li Jump Shots
			li 43/114
			li 38%
		ul
			li Contested &amp; 11-20 FGA
			li 25/85
			li 29%
		ul
			li Non-contested &amp; 11-20 FGA
			li 31/69
			li 45% 
	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/k2SybhZsPRQ?rel=0" frameborder="0" allowfullscreen)

	h3 Visual Breakdown of 21-30 Left
	.stats
		ul
			li 21-30 2's
			li 35/60
			li 58%
		ul
			li 21-30 3's
			li 18/48
			li 38%
		ul
			li FGA with 21-30 on Shot Clock
			li 53/108
			li 49%
	img(src="/images/scottie-lindsey/visual-breakdown-shot-clock-21-30.png" alt="Shot Clock 21-30 Shot Chart")
	.stats
		ul
			li Frequency of All FGA
			li 32%
		ul
			li Layups
			li 26/43
			li 60%
		ul
			li Floaters
			li 8/10
			li 80%
		ul
			li Jump Shots
			li 19/55
			li 34%
		ul
			li Contested &amp; 21-30 FGA
			li 20/56
			li 36%
		ul
			li Non-contested &amp; 21-30 FGA
			li 33/52
			li 63% 
	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/41IA1LDKIUI?rel=0" frameborder="0" allowfullscreen)