extends layout

block mainContent
	h3 Visual Breakdown Transition
	.stats
		ul
			li Transition FGA
			li 36/72
			li 50%
		ul
			li Frequency of All FGA
			li 19%
	img(src="/images/scottie-lindsey/visual-breakdown-Transition.png" alt="Transition Shot Chart")
	.stats
		ul
			li Layups
			li 26/42
			li 50%
		ul
			li Floaters
			li 3/3
			li 100%
		ul
			li Jump Shots
			li 7/27
			li 26%
		ul
			li Contested FGA
			li 14/42
			li 33%
		ul
			li Non-contested FGA
			li 22/30
			li 73%