extends layout

block mainContent
	h3 Visual Breakdown of Assisted Shots
	.stats
		ul
			li Assisted 2's
			li 35/58
			li 60%
		ul
			li Assisted 3's
			li 51/156
			li 33%
		ul
			li Assisted FGA
			li 86/214
			li 40%
	img(src="/images/scottie-lindsey/visual-breakdown-assisted.png" alt="Assisted Shot Chart")
	.stats
		ul
			li Frequency of All FGA
			li 64%
		ul
			li Layups
			li 19/28
			li 68%
		ul
			li Floaters
			li 8/13
			li 62%
		ul
			li Jump Shots
			li 59/173
			li 34%
		ul
			li Contested &amp; Assisted FGA
			li 30/102
			li 29%
		ul
			li Non-contested &amp; Assisted FGA
			li 56/112
			li 50% 

	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/riVx4WcpJwk?rel=0" frameborder="0" allowfullscreen)

	h3 Visual Breakdown of Non-Assisted Shots
	.stats
		ul
			li Non-Assisted 2's
			li 41/101
			li 41%
		ul
			li Non-Assisted 3's
			li 5/18
			li 28%
		ul
			li Non-Assisted FGA
			li 46/119
			li 39%
	img(src="/images/scottie-lindsey/visual-breakdown-non-assisted.png" alt="Non-Assisted Shot Chart")
	.stats
		ul
			li Frequency of All FGA
			li 36%
		ul
			li Layups
			li 15/34
			li 44%
		ul
			li Floaters
			li 13/36
			li 36%
		ul
			li Jump Shots
			li 18/49
			li 37%
		ul
			li Contested &amp; Non-Assisted FGA
			li 23/72
			li 32%
		ul
			li Non-contested &amp; Non-Assisted FGA
			li 18/27
			li 67%