extends layout

block mainContent
	h3 Visual Breakdown - Shots Off the Dribble
	.stats
		ul
			li FGA Off the Dribble
			li 80/186
			li 43%
		ul
			li Frequency of All FGA
			li 56%
	img(src="/images/scottie-lindsey/visual-breakdown-shots-off-dribble.png" alt="Shots Off of the Dribble Shot Chart")
	.stats
		ul
			li Layups
			li 26/51
			li 51%
		ul
			li Floaters
			li 21/49
			li 43%
		ul
			li Jump Shots
			li 33/86
			li 38%
		ul
			li Contested FGA
			li 45/126
			li 36%
		ul
			li Non-contested FGA
			li 35/60
			li 58% 

	.video-container
		iframe(width="560" height="315" src="https://www.youtube.com/embed/O23s6uBcRO8?rel=0" frameborder="0" allowfullscreen)

	.stats
		h4 Driving Left:
		ul
			li FGA Driving Left
			li 48/117
			li 41%
		ul
			li Frequency of All FGA Off the Dribble
			li 63%
		ul
			li Layups
			li 10/24
			li 42%
		ul
			li Floaters
			li 14/29
			li 48%
		ul
			li Jump Shots
			li 25/66
			li 38%
		ul
			li Contested FGA
			li 29/82
			li 35%
		ul
			li Non-Contested FGA
			li 19/35
			li 54%
	.stats
		h4 Driving Right:
		ul
			li FGA Driving Right
			li 32/69
			li 46%
		ul
			li Frequency of All FGA Off the Dribble
			li 37%
		ul
			li Layups
			li 16/27
			li 59%
		ul
			li Floaters
			li 7/20
			li 35%
		ul
			li Jump Shots
			li 9/22
			li 41%
		ul
			li Contested FGA
			li 16/44
			li 37%
		ul
			li Non-Contested FGA
			li 16/25
			li 64%