extends layout

block mainContent
	h3 Off the Dribble Workouts
	.workout
		h4 Workout #1 - Dribble Series to Jump Shots
		img(src="/images/scottie-lindsey/workout-off-the-dribble-workout-1-chart.png" alt="Dribble Series to Jump Shots Chart")
		img(src="/images/scottie-lindsey/workout-off-the-dribble-workout-1-drill.png" alt="Dribble Series to Jump Shots Drill")
		ul.explanation
			li 1 Defender – 68% of Lindsey’s Total Shots Attempted off the dribble were Contested.
			li Defender 1 starts guarding Lindsey after Lindsey goes through a double dribble move at each cone.  Lindsey attacks last cone and has to read the defense to either pull up for a jump shot or attack the basket.
			li Defender 1 – Guard to defend Lindsey on floaters and jump shots.
			li Contested Jump Shots off the dribble – 17/51 – 33%
			li Contested Floaters/Layups off the dribble – 28/75 – 37%
		.stats
			ul
				li Percent of FGA that are Jump Shots
				li 46%
			ul
				li Paint
				li 47/91
				li 52%
			ul
				li Mid-Range
				li 20/54
				li 37%
			ul
				li 3FGA
				li 12/40
				li 30%
			ul
				li Contested FGA
				li 45/126
				li 36%

	.workout
		h4 Workout #2 - Step Back Jumper Dribble Series
		img(src="/images/scottie-lindsey/workout-off-the-dribble-workout-2-chart.png" alt="Step Back Jumper Dribble Series Chart")
		img(src="/images/scottie-lindsey/workout-off-the-dribble-workout-2-drill.png" alt="Step Back Jumper Dribble Series Drill")
		ul.explanation
			li 1 Defender – 68% of Lindsey’s Total Shots Attempted off the dribble were Contested.
			li Lindsey flair cuts, catches, pump fakes from 3 and is allowed 2 dribbles to perform a step back jump shot driving left and right.  Defender 1 simply contests Lindsey’s jump shots and forces Lindsey to create space.
			li Defender 1 – Guard to defend Lindsey on step back jump shots
			li Left Wing Jump Shots off the dribble – 14/36 – 39%
			li Right Wing Jump Shots off the dribble – 2/8 – 25% 
		.stats
			ul
				li Jump Shots Driving Left
				li 25/66
				li 38%
			ul
				li Percent of Jump Shots Driving Left
				li 75%
			ul
				li Jump Shots Driving Right
				li 9/22
				li 41%
	.workout
		h4 Workout #3 - Finishing Around the Hoop
		img(src="/images/scottie-lindsey/workout-off-the-dribble-workout-3-chart.png" alt="Finishing Around the Hoop Chart")
		img(src="/images/scottie-lindsey/workout-off-the-dribble-workout-3-drill.png" alt="Finishing Around the Hoop Drill")
		ul.explanation
			li 2 Defenders – 68% of Lindsey’s Total Shots Attempted off the dribble were Contested.
			li Lindsey has to jab step to create space before getting into his jump shot, floater, or layup.
			li Defender 1 – Guard to contest Lindsey’s off the dribble jump shots and floaters.
			li Contested Jump Shots off the dribble – 17/51 – 33%
			li Non-Contested Jump Shots off the dribble – 16/35 – 46%

			li Defender 2 – Big man to defend Lindsey on Pick &amp; Roll situations where defense switches
			li Contested Floaters/Layups off the dribble – 28/75 – 37%
			li Non-Contested Floaters/Layups off the dribble – 19/25 – 76%
		.stats
			ul
				li Layups Driving Left
				li 10/24
				li 42%
			ul
				li Percent of FGA that are Jump Shots
				li 25%
			ul
				li Layups Driving Right
				li 16/27
				li 59%