section.login-page {

	.container {
		max-width: 300px;

		@media screen and (max-width: 500px) {
			max-width: 85%;
		}
	}

	.login {

		h3 {
			margin: 0 0 60px;
		}
	}
}

section.register-page {

	.container {
		max-width: 500px;

		@media screen and (max-width: 500px) {
			max-width: 85%;
		}
	}

	.signup {

		p, p a {
			margin: 0 0 40px;
			font-size: 0.875rem;
		}
	}
}

section.login-page, section.register-page {
	padding: 30px 0;

	.signup, .login {
		width: 100%;

		h2 {
			margin: 0 0 15px;
			text-align: left;
			color: $black;
		}

		h3 {
			margin: 0 0 60px;
			text-align: left;
			font-size: 1rem;
			font-weight: 400;
			color: #bbb;

			& span {
				color: $blue;
			}
		}

		input.button {
			
		}
	}

	.signup {

		a.button {
			@include button;
		}

		a {
			color: $blue;
			font-weight: 400;

			&:hover {
				text-decoration: underline;
			}
			
		}
	}

	.login {

		p {
			margin: 0;
			text-align: center;

			a {
				color: $red;
				font-weight: 400;

				&:hover {
					text-decoration: underline;
				}
				
			}

			&:nth-child(5) {
				margin: 5px 0 25px;
				text-align: right;

				a {
					font-size: 0.8125rem;
					font-weight: 300;	
					color: #999;

					&:hover {
						color: #444;
						text-decoration: none;
					}
				}
			}
		}

		input:nth-child(4) {
			margin-bottom: 0;
		}

		input.button {
			background-color: $blue;
			width: 100%;
		}
	}
}